.prologue, .epilogue{
    position: relative;
    display: block;
    padding-top: 10%;
    width: 65%;
    margin: auto;
}

.epilogue{
    display: flex;
}

.prologue .character_container, .epilogue .character_container{
    width: 30%;
    position: relative;
    margin-bottom: -11%;
    display: flex;
}
.epilogue .character_container{
    margin-bottom: 0;
}
.prologue .pojduang, .epilogue .coinkung{
    left: 0;
}
.prologue .frunk{
    left: 70%;
}
.epilogue .frunk{
    left: 45%;
}
.prologue .character_container:nth-child(odd){
    margin-bottom: -15%;
}
.prologue .character_container:nth-child(even){
    margin-bottom: -7%;
}
.prologue .character_container:nth-child(1){
    z-index: 5;
}
.prologue .character_container:nth-child(2){
    z-index: 4;
}
.prologue .character_container:nth-child(3){
    z-index: 3;
}
.prologue .character_container:nth-child(4){
    z-index: 2;
}
.prologue .character_container:nth-child(5){
    z-index: 1;
    margin: 0;
}
.prologue .textBox, .epilogue .textBox, .table-cell .textBox{
    left: 80%;
    top: -25%;
}
.textBox[data-posX="100%"]{
    left: -100%;
}
.textBox[data-posY="-15%"]{
    top: -15%;
}

.text{
    display: flex;
    top: 0;
    position: absolute;
    height: 67%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.orange{
    color: #F1592A;
}