<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2"></script>
    <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/befHistory.css">
    <link rel="stylesheet" href="./css/sukhothai.css">
    <title>Document</title>
    <style>
        HTML, body, :root{
            margin: 0;
            background: #BFE9F7;
            font-family: 'Itim';
            font-size: 1vw;
            scroll-behavior: smooth;
            --continerSize: 70vw;
            --containerPosition: calc((100vw - var(--continerSize))/2)
        }
        ::-webkit-scrollbar {
            display: none;
        }
        #home{
            position: relative;
            margin-top: -15%
        }
        .container{
            scroll-behavior: smooth;
            width: var(--continerSize);
            position: relative;
            display: block;
            margin: auto;
            overflow-x: hidden;
            top:0;
        }
        /* title */
        .title{
            position: absolute;
            width: 50%;
            left: 25%;
            top: 10%;
        }
        .title_bg{
            padding-top: 17.5%;
            width: 100%;
        }
        #home{
            text-align: center;
        }
        .subtitle{
            position: absolute;
            width: 50%;
            left: 25%;
            color: #238AAB;
            top: 30%;
            z-index: 1;
            line-height: 100%;
        }
        .subtitle h2{
            font-style: normal;
            font-size: 3vw;
        }
        .subtitle h3{
            font-style: normal;
            font-size: 2vw;
        }
        section{
            position: relative;
        }
        .clickAble{
            cursor: pointer;
        }



    </style>
</head>
<body>
    <!-- nav-bar -->
    <div id="nav" class="nav">
        <div class="timeline" @click="isActivate = !isActivate">
            <h3>Timeline</h3>
            <div class="icon"></div>
        </div>
        <div class="menu" :activate="isActivate">
            <ul>
                <a v-for="item in items" :href=item.to><li :style="{background: item.color }" >{{ item.title }}</li></a>
            </ul>
        </div>
    </div>
    <script src="nav.js"></script>

    <!-- Home page -->
    <div id="home">
        <img class="title" src="pic/head.svg"/>
        <img class="title_bg" src="pic/title2.PNG"/>
        <div class="subtitle">
            <h2>ของคุณยยาย</h2>
            <h3>ประวัติศาสตร์เหรียญในประเทศไทย</h3>
        </div>
    </div>

     <!-- Story -->
     <section id="story">
    </section>

    <!-- ยุคก่อนประวัติศาสตร์ -->
    <section id="befHistory">

        <div style="position: relative;">
            <img class="bef_history_bg" src="pic/befHis.PNG"/>
            <div class="topic">
                <img class="character" src="pic/ภาพประกอบจิ๋ว/เทป.svg"/>
                <div class="topic_text">ยุคก่อนประวัติศาสตร์</div>
            </div>

            <div class="character_container "style="transform: scaleX(-1);">
                <img class="character" src="pic/Character/พดด้วง/IMG_9545.PNG"/> 
            </div>

            <div class="buble">
                <img class="character" src="pic/กล่องข้อความ/กล่อง-02.svg"/>
                <div class="buble_text">รู้ไหม สมัยก่อนที่ยังไม่มีเงินตรา เราใช้สิ่งของแลกเปลี่ยนกันนะ</div>
            </div>  
        </div>
        <div style="position: relative;">
            <img style="position: absolute; width: 20%; left: 41.5%;" src="pic/ภาพประกอบจิ๋ว/arrow.svg"/>
            <img style="position: absolute; width: 20%; left: 41.5%; top: 3%; transform: scale(-1);" src="pic/ภาพประกอบจิ๋ว/arrow.svg"/>
            <div class="character_container" data-character ="axe_wood">
                <img class="character" style="position: relative; z-index: 1;" src="pic/ภาพประกอบจิ๋ว/IMG_9527.PNG"/>
                <img class="character" style="position: absolute; margin-top:0%; left: -20%;" src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div>
            <div class="character_container" data-character ="meat">
                <img class="character" style="position: relative; z-index: 1;" src="pic/ภาพประกอบจิ๋ว/IMG_9528.PNG"/>
                <img class="character" style="position: absolute; margin-top:0%; left: 10%;" src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div> 
            <div class="info">
                <p>อย่างเอาขวานไปแลกกับเนื้อสัตว์</p>
            </div>
            <div class="character_container" data-character ="shell">
                <img class="character" style="position: relative; z-index: 1;" src="pic/ภาพประกอบจิ๋ว/IMG_9529.PNG"/>
                <img class="character" style="position: absolute; margin-top:0%; left: -5%; top: 5%; width: 60%;" src="pic/ภาพประกอบจิ๋ว/circle/circle-Shell.svg"/>
            </div>
            <div class="character_container" data-character ="nut">
                <img class="character" style="position: relative; z-index: 1;" src="pic/ภาพประกอบจิ๋ว/IMG_9530.PNG"/>
                <img class="character" style="position: absolute; margin-top:0%; left: 35%; top: -20%; width: 60%;" src="pic/ภาพประกอบจิ๋ว/circle/circle-Nut.svg"/>
            </div>
            <div class="character_container" data-character ="bracelet">
                <img class="character" style="position: relative; z-index: 1;" src="pic/ภาพประกอบจิ๋ว/IMG_9532.PNG"/>
                <img class="character" style="position: absolute; margin-top:0%; left: 35%; top: 6%; width: 60%;" src="pic/ภาพประกอบจิ๋ว/circle/circle-Bracelet.svg"/>
            </div>
            <div class="character_container" data-character ="buffalo">
                <img class="character" style="position: relative; z-index: 1;" src="pic/ภาพประกอบจิ๋ว/IMG_9618.PNG"/>
                <img class="character" style="position: absolute; margin-top:0%; left: 35%; top: 6%; width: 60%;" src="pic/ภาพประกอบจิ๋ว/circle/circle-Buffalo.svg"/>
            </div>
            <div class="info" data-direction="left">
                <p>ต่อมาก็มีการใช้สิ่งของมีค่าที่ทั้งสองฝ่ายต้องการ เป็นสื่อกลางการแลกเปลี่ยน เช่นเปลือกหอย
                    เมล็ดพืช ปศุสัตว์ ลูกปัด ขวานทองแดง หัวธนู
                </p>
            </div>

            <div class="character_container" data-character ="star1">
                <img class="character"src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div>
            <div class="character_container" data-character ="star2">
                <img class="character"src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div><div class="character_container" data-character ="star3">
                <img class="character"src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div><div class="character_container" data-character ="star4">
                <img class="character"src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div><div class="character_container" data-character ="star5">
                <img class="character"src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div><div class="character_container" data-character ="star6">
                <img class="character"src="pic/ภาพประกอบจิ๋ว/star.svg"/>
            </div>
            <div class="character_container" data-character ="copper">
                <img class="character" src="pic/ภาพประกอบจิ๋ว/IMG_9534.PNG"/>
            </div>
            <div class="character_container" data-character ="gold">
                <img class="character" src="pic/ภาพประกอบจิ๋ว/IMG_9538.PNG"/>
            </div>
            <div class="character_container" data-character ="silver">
                <img class="character" src="pic/ภาพประกอบจิ๋ว/IMG_9539.PNG"/>
            </div>
            <div class="info" data-direction="right">
                <p>
                    ในที่สุดได้นำโลหะทองแดง โลหะเงิน โลหะทอง ซึ่งหายาก <br>มาใช้เป็นสื่อกลางในการแลกเปลี่ยน
                </p>
            </div>
            <div class="character_container" data-character ="duangnoi">
                <img class="character" src="pic/Character/พดด้วง/IMG_9622.PNG"/>
            </div>
            <div class="buble" data-buble = "bub1">
                <img class="character" src="pic/กล่องข้อความ/กล่อง-02.svg"/>
                <div class="buble_text" style="top: 30%; font-size: 1.vw; width: 46%;">นับว่าเป็นจุดเริ่มต้นของการค้าขายเลยหล่ะ</div>
            </div>
            <img style="margin-bottom: -1%;" src="pic/ภาพประกอบจิ๋ว/wave.svg">
        </div>
    </section> 

    <!-- ยุคสมัยก่อนสุโขทัย -->
    <section id="befSukhothai">
        <div class="info" data-direction="befSukhotext1">
            <h1>หลังจากนั้นอณาจักรไทยได้รับอิทธิพลมาจากอินเดีย<br>เกิดเป็นเหรียญเงินตรอกตรา</h1>
        </div><br><br>
        <!-- coin -->
        <div v-for="i in info" class="character_container clickAble" @click="i.status = true" :data-character="i.charater">
            <img class="character" :src="i.image"/>
        </div>
        <!-- info card -->
        <div class="coin-info" v-for="i in info" v-if="i.status" :activate="i.status">
            <div class="table-cell">
                <img class="info-image" :src="i.image"/>
            </div>
            <div class="table-cell">
                <p class="info-text">
                    {{ i.info }}
                </p>
            </div>
            <div class="closeBtn clickAble" @click="i.status = false"><p style="position: absolute;top: -125%; width: 100%;"> x </p></div> 
            
        </div>
        <div class="table">
            <div class="info table-cell" data-direction="funancoin">
                <p>อณาจักรฟูนัน</p>
            </div>
            <div class="info table-cell" data-direction="twancoin">
                <p>อณาจักรทวารวดี</p>
            </div>
            <div class="info table-cell" data-direction="srivichaicoin">
                <p>อณาจักรศรีวิชัย</p>
            </div>
        </div>
        <div class="info" data-direction="befSukhotext1">
            <h1>สัญลักษณ์บนเหรียญสื่อถึงความเชื่อทางศาสนาพราหมณ์<br>อำนาจรัฐ กษัตริย์ และความมั่งคั่งอุดมสมบูรณ์</h1>
        </div>
    </section>
    <script src="befSukhothai.js"></script>  

    <!-- ยุคสุโขทัย -->
    <section id="sukhothai" style="position: relative;">
        <img  class="bef_history_bg"src="pic/1.PNG"/>
        <div class="nongsukhothai1">
            <img class='nongsukhothai11' src="pic/ธนบุรี.PNG"/>
        </div>
        <div class="nongsukhothai2">
            <img class='nongsukhothai21' src="pic/IMG_9664.PNG"/>
        </div>
        <div class="txtbox1">
            <img class='txt1' src="pic/กล่อง-03.svg"/>
        </div>
        <div class="txtbox2">
            <img class='txt2' src="pic/กล่อง-031.svg"/>
        </div>
        <div class="txtbox3">   
            <img class='txt3' src="pic/เทป.svg"/>
        </div>
        <div class="txt">
            สมัยสุโขทัยถือว่าเป็นจุดเริ่มต้นของการผลิตเงินตรา<br>
             ที่มีรูปแบบเฉพาะตัว ได้แก่ ‘เงินพดด้วง’ <br>
                เป็นยุคที่มีความเจริญทางการค้าขายเป็นอย่างมาก <br>
                 และทางการอนุญาตให้ประชาชนผลิตเงินพดด้วงใช้เอง
        </div>
        <div class="coin">
            <img class ='incoin' src="pic/ภาพลงfigma-08.png"/>
        </div>
        <div class="txt3">
            ส่วนตราที่ประทับมี 7 ตราส่วนใหญ่ ได้แก่
        </div>
        <div class="coinall">
            <img class="coinall1" src="pic/หอยสังข์.png">
        </div>
        <div class="txtcoinall">
            <div class="txt4">
                ตราหอยสังข์
            </div>
        </div>
        <div class="grid-container">
            <div class=""><img class="coinall2" src="pic/ราชสีห์.png"></div>
            <div class=""><img class="coinall2" src="pic/ธรรมจักร.png"></div>
            <div class=""><img class="coinall2" src="pic/บัว.png"></div>
            <div class="txt4">ตราราชสีห์</div>
            <div class="txt4">ตราธรรมจักร</div>
            <div class="txt4">ตราบัว</div>
            <div class=""><img class="coinall2" style="width:80% ;" src="pic/กระต่าย.png"></div>
            <div class=""><img class="coinall2" src="pic/ช้าง.png"></div>
            <div class=""><img class="coinall2" src="pic/ราชวัตร.png"></div>
            <div class="txt4">ตรากระต่าย</div>
            <div class="txt4">ตราช้าง</div>
            <div class="txt4">ตราราชวัตร</div>
          </div>
          <div class="txtbox5">
            <img class='txt5' src="pic/กล่อง-04.svg"/>
        </div>
        <div class="coin2">
            <img class ='frunc' src="pic/หลังหอย.PNG">
            <img class ='incoin2' src="pic/ภาพลงfigma-01.png"/>
        </div>
        <div class="txt6">
            และมีการใช้ ‘เบี้ย’ ซึ่งเป็นเปลือกหอย<br>
            เป็นเงินปลีกสําหรับแลกเปลี่ยนสินค้าราคาต่ำ
        </div>
    </section> 

    <!-- ยุคอยุธยา -->
    <section id="ayuthaya">
    </section> 
    
    <!-- ยุคกรุงธนบุรี -->
    <section id="thonburi">
    </section> 

    <!-- ยุคกรุงรัตนโกสินทร์ -->
    <section id="rattanakosin">
    </section> 

    <script src="sprite.js"></script>
    <script>
        // const allSection = [home,story,befHistory, befSukhothai, sukhothai, ayuthaya, thonburi, rattanakosin]
        // allSection.forEach((el, index) => {
        //     // el.style.background = nav.items[index].color
        //     console.log(el.getBoundingClientRect())
        //     console.log(el.getBoundingClientRect().top)
        // });

        befHistory.style.background = "#ffecd4"
        befSukhothai.style.background = "#C0E9F7"
        sukhothai.style.background = "#ffefd1"
        console.log(window.scroolY)
        document.addEventListener('scroll', (e) => {
        })
        // const ctx = canvas.getContext("2d")
        // let imgPath = "https://cdn.discordapp.com/attachments/1007998666616869008/1019958140554461305/unknown.png"
        // let sprite = new Sprite(imgPath);
        // sprite.createImage()
        // sprite.append(container)
        // setInterval(()=>{sprite.move()}, 100)
    </script>
</body>
</html>
